.column{
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after{
    content: "";
    display: table;

}
img{
    width: 25%;
    height: 25%;
  
}

img{
    padding-left: 25px;    
}
h1{
    text-align: center;
    margin-top: 5%;
    font-family: Courier;
   color:#33ccff;
}
.description{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 15px;
    font-family: 'Times New Roman';
    border-bottom: 1px solid #999966 ;
}
b{
    color: #33ccff;
    font-family: Courier;
}